@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/**************** Base ****************/
/**************** Mixins ****************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #4d4d4d;
}

html {
  font-size: 1rem;
}

input[type=text]:focus {
  border: 1px solid black;
  outline: none;
}

.App {
  margin: auto;
  text-align: center;
  font-family: Garamond, Cambria;
  font-family: 'Varela Round';
  font-size: 0.7rem;
}

.component-resizer {
  width: 100%;
}

/**************** Variables ****************/
/**************** Mixins ****************/
/**************** MenuDisplayer ****************/
.menu-moderator {
  position: relative;
  min-height: 100vh;
  background-image: url("../shared/icons/kitchen.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  padding-bottom: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-displayer {
  margin: 5rem 0 2rem;
}

.menu-displayer-reload-button {
  margin: 0.3rem 0;
}

.menu-displayer-reload-button,
.recipe-input-submit-button {
  font-family: inherit;
  font-size: inherit;
  background-color: #b0eeee;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}

.recipe-input-submit-button:hover,
.menu-displayer-reload-button:hover {
  background-color: #55adad;
  color: white;
  border: none;
}

.recipe-input-submit-button:active,
.menu-displayer-reload-button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  border: none;
}

.meal-displayer {
  background-color: white;
  margin: 0.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  cursor: pointer;
}

.meal-displayer-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem 0;
  position: relative;
}

.weekday {
  width: 5rem;
  padding: 0 0.7rem;
  text-align: left;
}

.meal-category {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.meal-category img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1.8rem;
  width: 1.8rem;
  padding: 0 0.7rem;
}

.recipe {
  overflow: hidden;
  text-align: left;
  background-color: #ffffff;
}

.recipe-ingredients {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #e3e5e7;
}

.recipe-description {
  padding-left: 1.5rem;
}

.recipe-description-row {
  padding: 0 0.5rem 0 0.25rem;
  margin-bottom: 0.5rem;
}

/********************** InputModerator with children *************************/
.recipe-input-moderator-container {
  min-height: 100vh;
  position: relative;
  background-image: url("../shared/icons/kitchen.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-input-moderator {
  margin: 5rem 0.5rem 3rem;
}

.recipe-input-moderator form {
  background-color: white;
  padding: 1rem 0 1px;
  /*1px to avoid collapsing margins*/
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.recipe-input-moderator form input {
  padding: 0.3rem;
  border: 1px solid #ddd5d5;
  font-family: Garamond, Cambria;
  font-family: 'Varela Round';
  font-size: 0.7rem;
}

/**************** Inputs ****************/
.title-input {
  margin-bottom: 0.7rem;
  padding: 0 0.5rem;
}

.title-input input {
  width: 100%;
}

.category-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.7rem;
  padding: 0 calc(0.5rem + 3px);
}

.category-input-icon img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1.8rem;
  width: 1.8rem;
  padding: 0.3rem;
  border-radius: 15%;
  cursor: pointer;
}

.category-input-icon img:focus {
  -webkit-box-shadow: 0 0 3px 3px #b0eeee;
          box-shadow: 0 0 3px 3px #b0eeee;
  outline: none;
}

.category-input-icon img:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.category-input-icon .selected {
  background-color: #b0eeee;
}

.input-with-items-wrapper {
  margin-bottom: 1.5rem;
}

.ingredient-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.5rem;
}

.ingredient-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ingredient-input-details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.3rem;
}

.ingredient-input-name {
  width: 100%;
}

.ingredient-input,
.ingredient-input-details,
.ingredient-input-details-wrapper,
.ingredient-input-amount,
.ingredient-input-unit {
  min-width: 0;
}

.ingredient-input-amount,
.ingredient-input-unit {
  margin-right: 0.3rem;
}

.description-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.5rem;
}

.description-input input {
  width: 100%;
}

/**************** Added items / icons / edit-mode ****************/
.added-items-list {
  margin-top: 0.7rem;
  padding: 0;
}

.added-item {
  text-align: left;
  padding: 0.15rem 0.5rem;
}

.added-item,
.added-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-clickable-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.add-icon {
  margin-left: 0.5rem;
}

.remove-icon,
.edit {
  margin-left: 0.3rem;
}

.remove-icon {
  padding: 0.1rem;
}

.icon-edit-mode {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 0.3rem;
}

.item-edit-mode {
  background-color: #e3e5e7;
}

/**************** mainNavbar ****************/
.main-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  background-color: #b0eeee;
  margin: 0;
  padding: 0.7rem;
}

.main-nav a {
  color: black;
  text-decoration: none;
  padding: 0.65rem;
}

.main-nav a:hover, .main-nav a.active {
  background-color: #55adad;
  color: white;
}

/**************** Auth ****************/
.auth {
  background-color: white;
  min-height: 100vh;
  position: relative;
  background-image: url("../shared/icons/kitchen.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.auth form {
  background: white;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth form input {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border: 1px solid #ddd5d5;
  font-family: Garamond, Cambria;
  font-family: 'Varela Round';
  font-size: 0.7rem;
}

/**************** iconArtistAttribute ****************/
.icon-artist-attribute {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 0.1rem;
  font-size: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-artist-attribute a {
  text-decoration: none;
}

.icon-artist-attribute a:visited {
  color: white;
}

.icon-artist-attribute a:hover {
  color: #d1cdcd;
}

/**************** HeightTransitionComponent ****************/
.height-transition {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.border-radius {
  border-radius: 0 0 0.3rem 0.3rem;
}

.hidden {
  display: none;
}

/**************** Tooltip ****************/
.tooltip {
  position: relative;
}

.tooltip-text {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip .tooltip-top {
  max-width: calc(100% - 3.5rem);
  bottom: 0;
  right: 2rem;
}

/**************** ArrowIcon ****************/
.arrow-icon {
  margin: -0.15rem 0;
  padding-top: 0.15rem;
}

.arrow-icon img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 15px;
  width: 15px;
}

.rotate-180-open {
  -webkit-animation: rotate-180-open 0.2s linear forwards;
          animation: rotate-180-open 0.2s linear forwards;
}

.rotate-180-close {
  -webkit-animation: rotate-180-close 0.2s linear forwards;
          animation: rotate-180-close 0.2s linear forwards;
}

@-webkit-keyframes rotate-180-open {
  0% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(0.25rem);
            transform: rotate(180deg) translateY(0.25rem);
  }
}

@keyframes rotate-180-open {
  0% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
  100% {
    -webkit-transform: rotate(180deg) translateY(0.25rem);
            transform: rotate(180deg) translateY(0.25rem);
  }
}

@-webkit-keyframes rotate-180-close {
  0% {
    -webkit-transform: rotate(180deg) translateY(0.25rem);
            transform: rotate(180deg) translateY(0.25rem);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

@keyframes rotate-180-close {
  0% {
    -webkit-transform: rotate(180deg) translateY(0.25rem);
            transform: rotate(180deg) translateY(0.25rem);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

/**************** Media Queries ****************/
@media all and (max-width: 486px) {
  html {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 486px) {
  .App,
  .main-nav,
  .icon-artist-attribute {
    width: 500px;
  }
  .component-resizer {
    width: 350px;
  }
}
/*# sourceMappingURL=App.css.map */