/**************** MenuDisplayer ****************/

.menu-moderator {
    padding-bottom: 0.7rem;
    @include flexCenter();
  }
  
  .menu-displayer {
    margin: 5rem 0 2rem;
  }

  .menu-displayer-reload-button {
    margin-bottom: 1rem;
  }
  
  .meal-displayer {
    background-color: white;
    margin: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.25);
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .meal-displayer-overview {
    @include flexSpaceBetween();
    padding: 0.5rem 0;
  }
  
  .weekday {
    padding: 0 0.7rem;
    text-align: left;
  }
  
  .meal-category {
    display: flex;
    flex-direction: row-reverse;
    img {
      box-sizing: content-box;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0 0.7rem;
    }
  }

  .recipe {
    text-align: left;
    background-color: #ffffff;
  }
  
  .recipe-ingredients {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: $lightGray;
  }
  
  .recipe-description {
    padding-left: 1.5rem;
  }

  .recipe-description-row {
    padding: 0 0.7rem 0 0.25rem;
    margin-bottom: 0.5rem;
  } 

  .recipe-description li:last-child {
    margin-bottom: 0.7rem;
  }
 