/**************** Base ****************/

@import "./mixins";

* {
    box-sizing: border-box;
    margin: 0;
  }
  

body {
  background-color: #4d4d4d;
}

  html {
    font-size: 1rem;
  }

  input[type=text],
  input[type=name],
  input[type=email],
  input[type=password] {
    background-color: white;
    padding: 0.5em 0.4em 0.4em 0.5em;
    border: 1px solid rgb(221, 213, 213);
    border-radius: 0.3rem;
    @include primaryFont();
  } 
  
  .App {
    margin: auto;
    text-align: center;
    @include primaryFont();
  }

  .component-resizer {
    width: 100%;
  }
  
  @media all and (max-width: 486px) {

    html {
      font-size: 1.4rem;
    }

}

@media screen and (min-width: 486px) {

  .component-resizer {
    width: 350px;
  }
  
}