/**************** Added Recipe Item ****************/

.added-item {
    text-align: left;
    padding: 0.2rem 0.5rem 0.2rem 0.7rem;
  }

  .added-item,
  .added-item-buttons {
    @include flexSpaceBetween();
  }

  .input-clickable-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    &:active {
      transform: translateY(1px);
      border: none;
    }
  }
  
  .add-icon {
    margin-left: 0.5rem;
  }

  .remove-icon {
    padding: 0.1rem;
  }

  .remove-icon,
  .edit {
    margin-left: 0.5rem;
  }

  .icon-edit-mode {
    transform: rotate(45deg);
    margin-left: 0.3rem;
  } 
  
  .item-edit-mode {
    background-color: $lightGray;
  }
