/********************** Input Moderator *************************/

  .recipe-input-moderator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .recipe-input-moderator {
    margin: 5rem 0.5rem 3rem;
    form {
    background-color: white;
    padding: 1rem 0 1px; /*1px to avoid collapsing margins*/
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    }
  } 

  .input-with-items-wrapper {
    margin-bottom: 1.5rem;
  }

  .added-items-list {
    margin-top: 0.7rem;
    padding: 0; 
  }
  
  .input-moderator__error-message {
    margin: 0 0.5rem 1rem 0.5rem;
  }

  .confirmation-modal__footer {
    padding-top: 0;
  }


  @media screen and (min-width: 486px) {
    .recipe-input-moderator {
      margin-top: 50%;
    }
}