/**************** MealOverview ****************/

.meal-overview--menu-displayer {
    display: flex;
    justify-content: space-between;
}

.meal-overview--recipes-list {
    display: flex;
    justify-content: space-between;
}

.meal-overview--recipes-list__inner {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.meal-overview--recipes-list__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
   img {
    height: 1.5rem;
    padding: 0.1rem;
    margin-left: 0.5rem;
    &:active {
      transform: translateY(1px);
    }
  } 
}
