/**************** MealOverview ****************/

.meal-overview--menu-displayer {
    display: flex;
    justify-content: space-between;
}

.meal-overview--recipes-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meal-overview--recipes-list__inner {
  display: flex;
  flex-grow: 2;
  padding-left: 1rem;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.meal-overview--recipes-list__buttons {
  display: flex;
  button,
  a {
    margin: 0.3rem 0 0.3rem 0.3rem;
  }
}


  