/**************** MealCategory ****************/

.meal-category {
    display: flex;
    flex-direction: row-reverse;
    img {
      box-sizing: content-box;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0 0.7rem;
    }
  }