/**************** MealCategory ****************/

.meal-category {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }