/**************** MealOverview ****************/

.meal-overview--menu-displayer {
    display: flex;
    justify-content: space-between;
}

.meal-overview--recipes-list {
    display: flex;
    justify-content: space-between;
}

.meal-overview--recipes-list__inner {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.meal-overview--recipes-list__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.3rem;
   button, a {
    margin: 0.3rem 0 0 0.3rem;
  } 
}

@media screen and (min-width: 486px) {
  .meal-overview--recipes-list__buttons {
    flex-direction: row;
    align-items: center;
  }
}