/**************** MealCategory ****************/

.meal-category {
    display: flex;
    align-items: center;
    img {
      box-sizing: content-box;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.5rem;
    }
  }