/**************** MenuDisplayer ****************/

  .menu-displayer {
    margin: 5rem 0 2rem;
  }

  .menu-displayer-reload-button {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 486px) {
    .menu-displayer {
      margin-top: 10rem;
      width: 350px;
    }
  }