/**************** RecipesList ****************/

.recipes-list {
    width: 100%;
    margin: 5rem 0 3rem;
  }

  @media screen and (min-width: 486px) {
    .recipes-list {
      width: 350px;
    }
  }