/**************** ArtistAttribute ****************/

.artist-attribute {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 0.1rem;
    font-size: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    a {
      text-decoration: none;
      &:visited {
        color: white;
      } 
      &:hover {
      color: rgb(209, 205, 205);
      }
    }
  }