/**************** Button ****************/

.button {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    background-color: $primaryBlue;
    color: black;
    border: none;
    padding: 0.7em 1.2em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.2em rgba(0,0,0,0.25);
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.button:hover {
  background-color: $secondaryBlue;
  color: white;
  border: none;
}

.button:active {
  transform: translateY(2px);
  border: none;
}

.button--danger {
  background-color: #fd8ea6;
}

.button--danger:hover,
.button--danger:active {
  color: white;
  background-color: #cc4771;
}

.button--small {
  font-size: 0.7rem;
  padding: 0.6em 1em;
}