/**************** Modal ****************/

.modal {
    z-index: 100;
    position: absolute;
    top: 20vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    @include primaryFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal__header {
    width: 100%;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    background: $secondaryBlue;
    color: white;
    text-align: center;
  }
  
  .modal__content {
    padding: 1rem;
    width: 100%
  }
  
  .modal__footer {
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 12.5rem);
      top: 15vh;
      width: 25rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
  