@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  margin: auto;
  text-align: center;
  font-family: Garamond, Cambria;
  font-family: 'Varela Round';
  font-size: 0.7rem;
}

.head-links-ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #FC913A;;
  margin: 0;
  padding: 0.7rem;
}

.head-links-ul a {
  color: #4d0001;
  text-decoration: none;
  padding: 0.65rem;
}

.head-links-ul a:hover {
  background-color: #df6616;
  color: white;
}

.menu-displayer {
  background-image: url('./icons/tomatobasil.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-color: white, #ffe6e6;
  padding-bottom: 0.7rem;
}

.menu-displayer-reload-button {
  margin: 3rem 0 0.3rem;
  font-family: inherit;
  font-size: inherit;
  background-color: #FC913A;
  color: #4d0001;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.1rem rgba(0,0,0,0.25);
  cursor: pointer;
  outline: none;
}

.menu-displayer-reload-button:hover {
  background-color: #df6616;
  color: white;
  border: none;
}

.menu-displayer-reload-button:active {
  transform: translateY(2px);
  border: none;
}

.meal-displayer {
  background-color: white;
  margin: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.25);
  border-radius: 0.3rem;
  cursor: pointer;
}

.meal-displayer-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  position: relative;
}

.weekday {
  width: 5rem;
  padding: 0 0.7rem;
  text-align: left;
}

.meal-category {
  width: 5rem;
  display: flex;
  flex-direction: row-reverse;
}

.meal-category img {
  box-sizing: content-box;
  height: 1.8rem;
  width: 1.8rem;
  padding: 0 0.7rem;
}

.recepie {
  overflow: hidden; 
  text-align: left;
  background-color: #ffffff;
}

.recepie-ingredients {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(227, 229, 231);
}

.recepie-description-row, 
.recepie-description-missing {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
} 

.recepie-description-missing {
  text-align: center;
}

.icon-artist-attribute {
  margin-top: 4rem;
  padding: 0.1rem;
  font-size: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-artist-attribute a {
  text-decoration: none;
}

.icon-artist-attribute a:visited {
  color: white;
}

.icon-artist-attribute a:hover {
  color: #FC913A;
}

.recepie-input-moderator {
  margin: 0.5rem;
}

.recepie-input-moderator input {
  border: 1px solid rgb(221, 213, 213);
  padding: 0.3rem;
  font-family: Garamond, Cambria;
  font-family: 'Varela Round';
  font-size: 0.7rem;
}

.input-title,
.input-description,
.input-ingredients-wrapper,
.input-category {
  margin-bottom: 0.5rem;
}

.input-ingredients,
.input-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-title input,
.input-description input {
  width: 100%;
}

.input-description,
.input-ingredients-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-description-row,
.input-ingredients {
  flex-grow: 2;
  margin-right: 0.5rem;
}

.input-ingredients-name {
  width: 100%;
}

.input-ingredients-details {
  width: 50%;
}
.input-ingredients-amount,
.input-ingredients-unit {
  width: 25%;
}

.input-category input {
  margin-top: 0.3rem;
}

@media (min-width: 1000px) {
  .App {
    width: 25%;
  }

}