* {
  box-sizing: border-box;
}

.App {
  margin: auto;
  text-align: center;
  font-family: Garamond, Cambria;
}

.head-links-ul {
  background-color: #FC913A;;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.head-links-ul li {
  padding: 0.3rem 1rem;
}

.head-links-ul a {
  color:#4d0001;
  text-decoration: none;
}

.head-links-ul li:hover {
  background-color: #df6616;
  color: white;
}
.head-links-ul a:hover {
  color: white;
}

.menu-moderator {
  margin-top: 0.7rem;
}

.menu-displayer {
  background-color: #ffe6e6;
  border-radius: 0.3rem;
  color: #4d0001;
  padding-bottom: 0.3rem;
}

.menu-displayer-button-reload {
  margin-top: 0.7rem;
  font-family: Garamond, Cambria;
  font-size: large;
  background-color: #FC913A;
  color: #4d0001;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
}

.menu-displayer-button-reload:hover {
  background-color: #df6616;
  color: white;
  border: none;
}

.menu-displayer-button-reload:active {
  transform: translateY(2px);
  border: none;
}

.menu-displayer-title {
  padding-top: 1em;
  margin-top: 0;
}

.meal-displayer {
  background-color: white;
  margin: 0.5rem;
  border: 0.1rem solid #FC913A;
  border-radius: 0.3rem;
  cursor: pointer;
}

.meal-displayer-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

.weekday {
  padding-left: 0.7rem;
}

.meal-category img {
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding-right: 0.7rem;
}

.recepie-description {
  border-radius: 0.3rem;
  padding: 0.5rem;
  padding-bottom: 0;
  text-align: left;
}

.recepie-description-row, .recepie-description-missing {
  margin: 0 0 0.5rem 0;
}

.recepie-description-missing {
  text-align: center;
  color: #FC913A;
}

footer {
  margin-top: 0.7rem;
  font-size: small;
  color: #4d0001;
}

@media (min-width: 1000px) {
  .App {
    width: 25%;
  }
}